* {
	box-sizing: border-box;
}

body{
    background-color: #f2f6f9;
    margin: 0;
    padding: 0;
  }
  .header-box{
	  display: flex;
	  justify-content: flex-end;
	  border: 0;
      margin-right: 50px;
      background-color: #08977b;
      width: 100%;
      padding-left: -500px;
	  font-size: 20px;
  }


    .flip, .flipl {
      width: 200px;
      height: 48px;
	  align-items: center;
	  padding: 1rem;
	  height: 100%;
    }
	.flipl {
		margin-right: auto;
	}
    
    .flip a, .flipl a {
		color: white;
		text-decoration: none;
		font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      cursor: pointer;
	  padding: 1rem;
    }
	.flip a:hover, .flipl a:hover {
		color: #08977b;
		background-color: white;
		transition-duration: 100ms;
	}
    
    .img1
    {
      margin-left: 27%;
      margin-top: 10%;
      height: 400px;
      width: 700px;
    }

    .p1
    {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }





    .foot1
    {
		margin-top: 2%;
      background-color: #444;
      position: relative;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .foot1 h4{
      color: white;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 40%;
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .social-icon
        {
            position: relative;
            padding: 10px;
            margin: 0;
        }
    .social-icon li
        {
            display: inline-block;
            list-style: none;
        }
    .social-icon li a
        {
            border-radius: 50%;
            color: #606060;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            text-align: center;
            margin-right: 1px;
        }
    .social-icon li a:hover
        {
            color: #D43F52;
        }

        #nav-wrapper {
          overflow: hidden;
          width: 100%;
          margin: 0 auto;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
        }
        
        #nav {
          background-color: #fff;
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          font-family: "Saira Semi Condensed", sans-serif;
          height: 4em;
          overflow: hidden;
        }
        #nav.nav-visible {
          height: 100%;
          overflow: auto;
        }
        
        .nav {
          display: flex;
          height: 4em;
          line-height: 4em;
          flex-grow: 1;
        }
        
        .nav-link,
        .logo {
          padding: 0 1em;
        }
        
        span.gradient {
          background: #f857a8;
          background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
          background: linear-gradient(45deg, #f857a8, #ff5858);
          padding: 0 1em;
          position: relative;
          right: 1em;
          margin-right: auto;
        }
        span.gradient:hover {
          animation-name: logo-hover;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
        }
        
        h1.logo {
          font-weight: 300;
          font-size: 1.75em;
          line-height: 0.75em;
          color: #fff;
        }
        
        h1.logo a, a:active, a:hover, a:visited {
          text-decoration: none;
          color: #fff;
        }
        
        .nav-link {
          text-transform: uppercase;
          text-align: center;
          border-top: 0.5px solid #ddd;
        }
        
        a:link, a:visited, a:active {
          text-decoration: none;
          color: #f857a8;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        .right {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
        
        .btn-nav {
          color: #f857a8;
          padding-left: 2em;
          padding-right: 2em;
        }
        
        @media (min-width: 800px) {
          #nav-wrapper {
            overflow: hidden;
          }
        
          #nav {
            overflow: hidden;
            flex-direction: row;
          }
        
          .nav-link {
            border-top: none;
          }
        
          .right {
            overflow: hidden;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            left: 1.5em;
            height: auto;
          }
        
          .btn-nav {
            display: none;
          }
        
          .nav a:link.active, a:visited.active, a:active.active {
            background: #f857a8;
            background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
            background: linear-gradient(45deg, #f857a8, #ff5858);
            color: #fff;
          }
        
          .nav-link-span {
            transform: skew(20deg);
            display: inline-block;
          }
        
          .nav-link {
            transform: skew(-20deg);
            color: #777;
            text-decoration: none;
          }
          .nav-link:last-child {
            padding-right: 3em;
          }
        
          a:hover.nav-link:not(.active) {
            color: #444;
            background: #ddd;
            background: linear-gradient(45deg, #fff, #ddd);
          }
        }
        @keyframes logo-hover {
          20% {
            padding-right: 0em;
          }
          100% {
            padding-right: 5em;
          }
        }
        html{
          height: 100%;
          overflow: hidden;
        }
        body{
          color: #fff;
          margin: 0;
          padding: 0;
          font-size: 18px;
          line-height: 1.5;
          height: 100%;
        
          perspective: 1px;
          overflow-y: scroll;
          overflow-x: hidden;
          transform-style: preserve-3d;
          
        }
        body p{
          font-family: arial;
        }
        .section1{
          box-sizing: border-box;
          min-height: 100vh;
          padding: 10vh 10vh;
          position: relative;
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        
          transform-style: inherit;
        }
        .section1 h1 {
          background-color: rgba(68, 68, 68, 0.7); /* Adjust the opacity as needed */
          font-size: 150px;
          line-height: 160px;
          color: transparent;
          -webkit-text-stroke: 2px #ffffff;
          background: url(img/back.png);
          -webkit-background-clip: text;
          background-clip: text;
          background-position: 0 20;
          animation: back 50s linear infinite;
        }
        @keyframes back {
          100% {
            background-position: 2000px 0;
          }
        }
        .section1:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: block;
          background-image: url('img/tamil.png');
          background-size: cover;
          z-index: -1;
          min-height: 100vh;
          transform: translateZ(-1px) scale(2);
        
          /* Set the opacity value (0.5 for example) */
          background-color: rgba(255, 255, 255, 0.285);
        }
        
        .section2{
          font-family: 'Prompt', sans-serif;
          padding: 10vh;
          background-color: #83b334;
          box-sizing: border-box;
          position: relative;
          z-index: 2;
          min-height: 100vh;
          display: flex;
          align-items: center;
        }
        .section3{
          box-sizing: border-box;
          min-height: 100vh;
          padding: 10vh 10vh;
          position: relative;
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;        
          transform-style: inherit;
        }
        
        .section3 h1 {
          background-color: rgba(68, 68, 68, 0.7); /* Adjust the opacity as needed */
          font-size: 150px;
          line-height: 160px;
          color: transparent;
          -webkit-text-stroke: 2px #ffffff;
          background: url(img/back.png);
          -webkit-background-clip: text;
          background-clip: text;
          background-position: 0 20;
          animation: back 50s linear infinite;
        }
        @keyframes back {
          100% {
            background-position: 2000px 0;
          }
        }
        
        .section3:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: block;
          background-image: url('img/tamil2.jpg');
          background-size: cover;
          z-index: -1;
          min-height: 100vh; 
        
          transform: translateZ(-1px) scale(2);
        }
        .section4{
          padding: 10vh;
          background-color: #0f9ce5;
          position: relative;
          z-index: 2;
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
        }
        ::-webkit-scrollbar{
          width :15px;
        }
        ::-webkit-scrollbar-track{
          background: #ffffff;
        }
        ::-webkit-scrollbar-thumb{
          background: linear-gradient(#f957a0, #ff585a);
        }